In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn import preprocessing 
import seaborn as sns

In [2]:
# Read in data
filepath = '/Users/maureenkeenan/Desktop/Kaggle/Titanic'
file_train = 'train.csv'
file_test = 'test.csv'
sample = pd.read_csv(os.path.join(filepath,file_train))
data = pd.read_csv(os.path.join(filepath,file_test))

In [3]:
# Explore data
sample.describe()
sample.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
y = sample.Survived # What we are fitting for
sample.groupby('Survived').Survived.count()

Survived
0    549
1    342
Name: Survived, dtype: int64

In [5]:
import nbimporter
import DataCleanup as dc

Importing Jupyter notebook from DataCleanup.ipynb

In [6]:
dc.transform_features(sample)

DataCleanup.ipynb:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "    for n in range(len(Surname)):\n",

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,TitleKey,Surname,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,Young Adult,1,0,A/5 21171,First,N,S,Mr,4,Braund,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,Adult,1,0,PC 17599,Fourth,C,C,Mrs,2,Cumings,1
2,3,1,3,"Heikkinen, Miss. Laina",female,Young Adult,0,0,STON/O2. 3101282,First,N,S,Miss,3,Heikkinen,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,Young Adult,1,0,113803,Fourth,C,S,Mrs,2,Futrelle,2
4,5,0,3,"Allen, Mr. William Henry",male,Young Adult,0,0,373450,Second,N,S,Mr,4,Allen,2
5,6,0,3,"Moran, Mr. James",male,Unknown,0,0,330877,Second,N,Q,Mr,4,Moran,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,Adult,0,0,17463,Fourth,E,S,Mr,4,McCarthy,1
7,8,0,3,"Palsson, Master. Gosta Leonard",child,Child,3,1,349909,Third,N,S,Master,5,Palsson,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,Young Adult,0,2,347742,Second,N,S,Mrs,2,Johnson,6
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,Teenager,1,0,237736,Third,N,C,Mrs,2,Nasser,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",child,Child,1,1,PP 9549,Third,G,S,Miss,3,Sandstrom,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,Adult,0,0,113783,Third,C,S,Miss,3,Bonnell,1
12,13,0,3,"Saundercock, Mr. William Henry",male,Young Adult,0,0,A/5. 2151,Second,N,S,Mr,4,Saundercock,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,Adult,1,5,347082,Fourth,N,S,Mr,4,Andersson,9
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,Teenager,0,0,350406,First,N,S,Miss,3,Vestrom,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,Adult,0,0,248706,Third,N,S,Mrs,2,Hewlett,1
16,17,0,3,"Rice, Master. Eugene",child,Child,4,1,382652,Third,N,Q,Master,5,Rice,5
17,18,1,2,"Williams, Mr. Charles Eugene",male,Unknown,0,0,244373,Second,N,S,Mr,4,Williams,4
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,Young Adult,1,0,345763,Third,N,S,Mrs,2,Vander Planke,3
19,20,1,3,"Masselmani, Mrs. Fatima",female,Unknown,0,0,2649,First,N,C,Mrs,2,Masselmani,1
20,21,0,2,"Fynney, Mr. Joseph J",male,Young Adult,0,0,239865,Third,N,S,Mr,4,Fynney,1
21,22,1,2,"Beesley, Mr. Lawrence",male,Young Adult,0,0,248698,Second,D,S,Mr,4,Beesley,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,Teenager,0,0,330923,Second,N,Q,Miss,3,McGowan,1
23,24,1,1,"Sloper, Mr. William Thompson",male,Young Adult,0,0,113788,Fourth,A,S,Mr,4,Sloper,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,Child,3,1,349909,Third,N,S,Miss,3,Palsson,4
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,Adult,1,5,347077,Fourth,N,S,Mrs,2,Asplund,4
26,27,0,3,"Emir, Mr. Farred Chehab",male,Unknown,0,0,2631,First,N,C,Mr,4,Emir,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,Young Adult,3,2,19950,Fourth,C,S,Mr,4,Fortune,4
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,Unknown,0,0,330959,First,N,Q,Miss,3,O'Dwyer,1
29,30,0,3,"Todoroff, Mr. Lalio",male,Unknown,0,0,349216,First,N,S,Mr,4,Todoroff,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,Young Adult,1,0,28134,Second,N,S,Mr,4,Giles,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,Adult,0,0,17466,Third,D,S,Mrs,2,Swift,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,Unknown,8,2,CA. 2343,Fourth,N,S,Miss,3,Sage,7
864,865,0,2,"Gill, Mr. John William",male,Young Adult,0,0,233866,Second,N,S,Mr,4,Gill,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,Adult,0,0,236852,Second,N,S,Mrs,2,Bystrom,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,Young Adult,1,0,SC/PARIS 2149,Second,N,C,Miss,3,Duran y More,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,Young Adult,0,0,PC 17590,Fourth,A,S,Mr,4,Roebling,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,Unknown,0,0,345777,Second,N,S,Mr,4,van Melkebeke,1
869,870,1,3,"Johnson, Master. Harold Theodor",child,Child,1,1,347742,Second,N,S,Master,5,Johnson,6
870,871,0,3,"Balkic, Mr. Cerin",male,Young Adult,0,0,349248,First,N,S,Mr,4,Balkic,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,Adult,1,1,11751,Fourth,D,S,Mrs,2,Beckwith,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,Young Adult,0,0,695,First,B,S,Mr,4,Carlsson,2
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,Adult,0,0,345765,Second,N,S,Mr,4,Vander Cruyssen,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,Young Adult,1,0,P/PP 3381,Third,N,C,Mrs,2,Abelson,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,Teenager,0,0,2667,First,N,C,Miss,3,Najib,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,Young Adult,0,0,7534,Second,N,S,Mr,4,Gustafsson,4
877,878,0,3,"Petroff, Mr. Nedelio",male,Young Adult,0,0,349212,First,N,S,Mr,4,Petroff,2
878,879,0,3,"Laleff, Mr. Kristo",male,Unknown,0,0,349217,First,N,S,Mr,4,Laleff,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,Adult,0,1,11767,Fourth,C,C,Mrs,2,Potter,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,Young Adult,0,1,230433,Third,N,S,Mrs,2,Shelley,1
881,882,0,3,"Markun, Mr. Johann",male,Young Adult,0,0,349257,First,N,S,Mr,4,Markun,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,Young Adult,0,0,7552,Second,N,S,Miss,3,Dahlberg,1
883,884,0,2,"Banfield, Mr. Frederick James",male,Young Adult,0,0,C.A./SOTON 34068,Second,N,S,Mr,4,Banfield,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,Young Adult,0,0,SOTON/OQ 392076,First,N,S,Mr,4,Sutehall,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,Adult,0,5,382652,Third,N,Q,Mrs,2,Rice,5
886,887,0,2,"Montvila, Rev. Juozas",male,Young Adult,0,0,211536,Second,N,S,Rev,0,Montvila,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,Young Adult,0,0,112053,Third,B,S,Miss,3,Graham,3
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,Unknown,1,2,W./C. 6607,Third,N,S,Miss,3,Johnston,2
889,890,1,1,"Behr, Mr. Karl Howell",male,Young Adult,0,0,111369,Third,C,C,Mr,4,Behr,1
890,891,0,3,"Dooley, Mr. Patrick",male,Young Adult,0,0,370376,First,N,Q,Mr,4,Dooley,1

In [7]:
dc.encode_features(sample)

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
# Do a quick subset of features
quick_features = ['Sex','Age','Pclass','SibSp','Cabin','TitleKey','Fare','Embarked']
X = sample[quick_features]
y = sample.Survived

In [ ]:
# Define subfeatures
features_1 = ['Sex','Age','Pclass']
features_2 = ['Sex','Age','Pclass','SibSp','Parch']
features_3 = ['Sex','Age','Pclass','Family']
features_4 = ['Sex','Age','Pclass','SibSp','Parch','Fare']
features_5 = ['Sex','Age','Pclass','SibSp','Parch','Fare','TitleKey']

features = [features_1, features_2, features_3, features_4, features_5]

In [ ]:
# Break off validation set from training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=0)

# import the class
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# Create base model
model = LogisticRegression(solver='lbfgs',C = 1,max_iter=300)

# Function for comparing different models
def score_model(model=model, X_train, X_v=X_test, y_t=y_train, y_v=y_test):
    model.fit(X_train, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(features)):
    mae = score_model(models[i])
    cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
    print("Model %d MAE: %d" % (i+1, mae))
    print
    
print("Error:", metrics.mean_squared_error(y_test, y_pred).round(2))
# import the metrics class
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred).round(2))
print("Precision:",metrics.precision_score(y_test, y_pred).round(2))
print("Recall:",metrics.recall_score(y_test, y_pred).round(2))

In [ ]:
differences = y_pred-y_test
FN = differences[differences == -1].index
sample.iloc[FN,:]

In [ ]:
FP = differences[differences == 1].index
sample.iloc[FP,:]

In [ ]:
# Check out the ROC curve
y_pred_proba = logreg.predict_proba(X_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.legend(loc=4)
plt.show()

In [ ]:
# Ok, how do we improve?

In [ ]:
# Do this for the test set
dc.transform_features(data)
dc.encode_features(data)
X = data[quick_features]
predictions =logreg.predict(X)

# Save into output file
ids = data['PassengerId']

output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output.to_csv('titanic-predictions_logistic.csv', index = False)
output.head()