In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn import preprocessing 
import seaborn as sns

In [2]:
# Read in data
filepath = '/Users/maureenkeenan/Desktop/Kaggle/Titanic'
file_train = 'train.csv'
file_test = 'test.csv'
sample = pd.read_csv(os.path.join(filepath,file_train))
data = pd.read_csv(os.path.join(filepath,file_test))

In [3]:
# Explore data
sample.describe()
sample.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
y = sample.Survived # What we are fitting for
sample.groupby('Survived').Survived.count()

Survived
0    549
1    342
Name: Survived, dtype: int64

In [5]:
import nbimporter
import DataCleanup as dc

Importing Jupyter notebook from DataCleanup.ipynb

In [6]:
dc.transform_features(sample)

DataCleanup.ipynb:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "    for n in range(len(Surname)):\n",

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,TitleKey,Surname,Family
0,1,0,3,"Braund, Mr. Owen Harris",male,Young Adult,1,0,A/5 21171,First,N,S,Mr,4,Braund,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,Adult,1,0,PC 17599,Fourth,C,C,Mrs,2,Cumings,1
2,3,1,3,"Heikkinen, Miss. Laina",female,Young Adult,0,0,STON/O2. 3101282,First,N,S,Miss,3,Heikkinen,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,Young Adult,1,0,113803,Fourth,C,S,Mrs,2,Futrelle,2
4,5,0,3,"Allen, Mr. William Henry",male,Young Adult,0,0,373450,Second,N,S,Mr,4,Allen,2
5,6,0,3,"Moran, Mr. James",male,Unknown,0,0,330877,Second,N,Q,Mr,4,Moran,3
6,7,0,1,"McCarthy, Mr. Timothy J",male,Adult,0,0,17463,Fourth,E,S,Mr,4,McCarthy,1
7,8,0,3,"Palsson, Master. Gosta Leonard",child,Child,3,1,349909,Third,N,S,Master,5,Palsson,4
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,Young Adult,0,2,347742,Second,N,S,Mrs,2,Johnson,6
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,Teenager,1,0,237736,Third,N,C,Mrs,2,Nasser,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",child,Child,1,1,PP 9549,Third,G,S,Miss,3,Sandstrom,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,Adult,0,0,113783,Third,C,S,Miss,3,Bonnell,1
12,13,0,3,"Saundercock, Mr. William Henry",male,Young Adult,0,0,A/5. 2151,Second,N,S,Mr,4,Saundercock,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,Adult,1,5,347082,Fourth,N,S,Mr,4,Andersson,9
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,Teenager,0,0,350406,First,N,S,Miss,3,Vestrom,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,Adult,0,0,248706,Third,N,S,Mrs,2,Hewlett,1
16,17,0,3,"Rice, Master. Eugene",child,Child,4,1,382652,Third,N,Q,Master,5,Rice,5
17,18,1,2,"Williams, Mr. Charles Eugene",male,Unknown,0,0,244373,Second,N,S,Mr,4,Williams,4
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,Young Adult,1,0,345763,Third,N,S,Mrs,2,Vander Planke,3
19,20,1,3,"Masselmani, Mrs. Fatima",female,Unknown,0,0,2649,First,N,C,Mrs,2,Masselmani,1
20,21,0,2,"Fynney, Mr. Joseph J",male,Young Adult,0,0,239865,Third,N,S,Mr,4,Fynney,1
21,22,1,2,"Beesley, Mr. Lawrence",male,Young Adult,0,0,248698,Second,D,S,Mr,4,Beesley,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,Teenager,0,0,330923,Second,N,Q,Miss,3,McGowan,1
23,24,1,1,"Sloper, Mr. William Thompson",male,Young Adult,0,0,113788,Fourth,A,S,Mr,4,Sloper,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,Child,3,1,349909,Third,N,S,Miss,3,Palsson,4
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,Adult,1,5,347077,Fourth,N,S,Mrs,2,Asplund,4
26,27,0,3,"Emir, Mr. Farred Chehab",male,Unknown,0,0,2631,First,N,C,Mr,4,Emir,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,Young Adult,3,2,19950,Fourth,C,S,Mr,4,Fortune,4
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,Unknown,0,0,330959,First,N,Q,Miss,3,O'Dwyer,1
29,30,0,3,"Todoroff, Mr. Lalio",male,Unknown,0,0,349216,First,N,S,Mr,4,Todoroff,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,Young Adult,1,0,28134,Second,N,S,Mr,4,Giles,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,Adult,0,0,17466,Third,D,S,Mrs,2,Swift,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,Unknown,8,2,CA. 2343,Fourth,N,S,Miss,3,Sage,7
864,865,0,2,"Gill, Mr. John William",male,Young Adult,0,0,233866,Second,N,S,Mr,4,Gill,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,Adult,0,0,236852,Second,N,S,Mrs,2,Bystrom,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,Young Adult,1,0,SC/PARIS 2149,Second,N,C,Miss,3,Duran y More,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,Young Adult,0,0,PC 17590,Fourth,A,S,Mr,4,Roebling,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,Unknown,0,0,345777,Second,N,S,Mr,4,van Melkebeke,1
869,870,1,3,"Johnson, Master. Harold Theodor",child,Child,1,1,347742,Second,N,S,Master,5,Johnson,6
870,871,0,3,"Balkic, Mr. Cerin",male,Young Adult,0,0,349248,First,N,S,Mr,4,Balkic,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,Adult,1,1,11751,Fourth,D,S,Mrs,2,Beckwith,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,Young Adult,0,0,695,First,B,S,Mr,4,Carlsson,2
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,Adult,0,0,345765,Second,N,S,Mr,4,Vander Cruyssen,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,Young Adult,1,0,P/PP 3381,Third,N,C,Mrs,2,Abelson,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,Teenager,0,0,2667,First,N,C,Miss,3,Najib,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,Young Adult,0,0,7534,Second,N,S,Mr,4,Gustafsson,4
877,878,0,3,"Petroff, Mr. Nedelio",male,Young Adult,0,0,349212,First,N,S,Mr,4,Petroff,2
878,879,0,3,"Laleff, Mr. Kristo",male,Unknown,0,0,349217,First,N,S,Mr,4,Laleff,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,Adult,0,1,11767,Fourth,C,C,Mrs,2,Potter,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,Young Adult,0,1,230433,Third,N,S,Mrs,2,Shelley,1
881,882,0,3,"Markun, Mr. Johann",male,Young Adult,0,0,349257,First,N,S,Mr,4,Markun,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,Young Adult,0,0,7552,Second,N,S,Miss,3,Dahlberg,1
883,884,0,2,"Banfield, Mr. Frederick James",male,Young Adult,0,0,C.A./SOTON 34068,Second,N,S,Mr,4,Banfield,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,Young Adult,0,0,SOTON/OQ 392076,First,N,S,Mr,4,Sutehall,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,Adult,0,5,382652,Third,N,Q,Mrs,2,Rice,5
886,887,0,2,"Montvila, Rev. Juozas",male,Young Adult,0,0,211536,Second,N,S,Rev,0,Montvila,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,Young Adult,0,0,112053,Third,B,S,Miss,3,Graham,3
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,Unknown,1,2,W./C. 6607,Third,N,S,Miss,3,Johnston,2
889,890,1,1,"Behr, Mr. Karl Howell",male,Young Adult,0,0,111369,Third,C,C,Mr,4,Behr,1
890,891,0,3,"Dooley, Mr. Patrick",male,Young Adult,0,0,370376,First,N,Q,Mr,4,Dooley,1

In [7]:
dc.encode_features(sample)

(     PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 5              6         0       3
 6              7         0       1
 7              8         0       3
 8              9         1       3
 9             10         1       2
 10            11         1       3
 11            12         1       1
 12            13         0       3
 13            14         0       3
 14            15         0       3
 15            16         1       2
 16            17         0       3
 17            18         1       2
 18            19         0       3
 19            20         1       3
 20            21         0       2
 21            22         1       2
 22            23         1       3
 23            24         1       1
 24            25         0       3
 25            26         1       3
 26            27         0       3
 27            28         0       1
 28            29         1       3
 29            30         0       3
 ..           ...       ...     ...
 861          862         0       2
 862          863         1       1
 863          864         0       3
 864          865         0       2
 865          866         1       2
 866          867         1       2
 867          868         0       1
 868          869         0       3
 869          870         1       3
 870          871         0       3
 871          872         1       1
 872          873         0       1
 873          874         0       3
 874          875         1       2
 875          876         1       3
 876          877         0       3
 877          878         0       3
 878          879         0       3
 879          880         1       1
 880          881         1       2
 881          882         0       3
 882          883         0       3
 883          884         0       2
 884          885         0       3
 885          886         0       3
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name  Sex  Age  SibSp  \
 0                              Braund, Mr. Owen Harris    2    5      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1    0      1
 2                               Heikkinen, Miss. Laina    1    5      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1    5      1
 4                             Allen, Mr. William Henry    2    5      0
 5                                     Moran, Mr. James    2    4      0
 6                              McCarthy, Mr. Timothy J    2    0      0
 7                       Palsson, Master. Gosta Leonard    0    1      3
 8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    1    5      0
 9                  Nasser, Mrs. Nicholas (Adele Achem)    1    3      1
 10                     Sandstrom, Miss. Marguerite Rut    0    1      1
 11                            Bonnell, Miss. Elizabeth    1    0      0
 12                      Saundercock, Mr. William Henry    2    5      0
 13                         Andersson, Mr. Anders Johan    2    0      1
 14                Vestrom, Miss. Hulda Amanda Adolfina    1    3      0
 15                    Hewlett, Mrs. (Mary D Kingcome)     1    0      0
 16                                Rice, Master. Eugene    0    1      4
 17                        Williams, Mr. Charles Eugene    2    4      0
 18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    1    5      1
 19                             Masselmani, Mrs. Fatima    1    4      0
 20                                Fynney, Mr. Joseph J    2    5      0
 21                               Beesley, Mr. Lawrence    2    5      0
 22                         McGowan, Miss. Anna "Annie"    1    3      0
 23                        Sloper, Mr. William Thompson    2    5      0
 24                       Palsson, Miss. Torborg Danira    1    1      3
 25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    1    0      1
 26                             Emir, Mr. Farred Chehab    2    4      0
 27                      Fortune, Mr. Charles Alexander    2    5      3
 28                       O'Dwyer, Miss. Ellen "Nellie"    1    4      0
 29                                 Todoroff, Mr. Lalio    2    4      0
 ..                                                 ...  ...  ...    ...
 861                        Giles, Mr. Frederick Edward    2    5      1
 862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    1    0      0
 863                  Sage, Miss. Dorothy Edith "Dolly"    1    4      8
 864                             Gill, Mr. John William    2    5      0
 865                           Bystrom, Mrs. (Karolina)    1    0      0
 866                       Duran y More, Miss. Asuncion    1    5      1
 867               Roebling, Mr. Washington Augustus II    2    5      0
 868                        van Melkebeke, Mr. Philemon    2    4      0
 869                    Johnson, Master. Harold Theodor    0    1      1
 870                                  Balkic, Mr. Cerin    2    5      0
 871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1    0      1
 872                           Carlsson, Mr. Frans Olof    2    5      0
 873                        Vander Cruyssen, Mr. Victor    2    0      0
 874              Abelson, Mrs. Samuel (Hannah Wizosky)    1    5      1
 875                   Najib, Miss. Adele Kiamie "Jane"    1    3      0
 876                      Gustafsson, Mr. Alfred Ossian    2    5      0
 877                               Petroff, Mr. Nedelio    2    5      0
 878                                 Laleff, Mr. Kristo    2    4      0
 879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    1    0      0
 880       Shelley, Mrs. William (Imanita Parrish Hall)    1    5      0
 881                                 Markun, Mr. Johann    2    5      0
 882                       Dahlberg, Miss. Gerda Ulrika    1    5      0
 883                      Banfield, Mr. Frederick James    2    5      0
 884                             Sutehall, Mr. Henry Jr    2    5      0
 885               Rice, Mrs. William (Margaret Norton)    1    0      0
 886                              Montvila, Rev. Juozas    2    5      0
 887                       Graham, Miss. Margaret Edith    1    5      0
 888           Johnston, Miss. Catherine Helen "Carrie"    1    4      1
 889                              Behr, Mr. Karl Howell    2    5      0
 890                                Dooley, Mr. Patrick    2    5      0

      Parch            Ticket  Fare  Cabin Embarked  Title  TitleKey  Surname  \
 0        0         A/5 21171     0      7        S     11         4       73
 1        0          PC 17599     1      2        C     12         2      136
 2        0  STON/O2. 3101282     0      7        S      8         3      251
 3        0            113803     1      2        S     12         2      198
 4        0            373450     2      7        S     11         4       11
 5        0            330877     2      7        Q     11         4      409
 6        0             17463     1      4        S     11         4      378
 7        1            349909     3      7        S      7         5      463
 8        2            347742     2      7        S     12         2      292
 9        0            237736     3      7        C     12         2      426
 10       1           PP 9549     3      6        S      8         3      537
 11       0            113783     3      2        S      8         3       65
 12       0         A/5. 2151     2      7        S     11         4      538
 13       5            347082     1      7        S     11         4       16
 14       0            350406     0      7        S      8         3      626
 15       0            248706     3      7        S     12         2      256
 16       1            382652     3      7        Q      7         5      505
 17       0            244373     2      7        S     11         4      647
 18       0            345763     3      7        S     12         2      625
 19       0              2649     0      7        C     12         2      375
 20       0            239865     3      7        S     11         4      199
 21       0            248698     2      3        S     11         4       51
 22       0            330923     2      7        Q      8         3      385
 23       0            113788     1      0        S     11         4      568
 24       1            349909     3      7        S      8         3      463
 25       5            347077     1      7        S     12         2       25
 26       0              2631     0      7        C     11         4      176
 27       2             19950     1      2        S     11         4      189
 28       0            330959     0      7        Q      8         3      448
 29       0            349216     0      7        S     11         4      604
 ..     ...               ...   ...    ...      ...    ...       ...      ...
 861      0             28134     2      7        S     11         4      209
 862      0             17466     3      3        S     12         2      594
 863      2          CA. 2343     1      7        S      8         3      532
 864      0            233866     2      7        S     11         4      211
 865      0            236852     2      7        S     12         2       84
 866      0     SC/PARIS 2149     2      7        C      8         3      168
 867      0          PC 17590     1      0        S     11         4      515
 868      0            345777     2      7        S     11         4      666
 869      1            347742     2      7        S      7         5      292
 870      0            349248     0      7        S     11         4       35
 871      1             11751     1      3        S     12         2       50
 872      0               695     0      1        S     11         4       97
 873      0            345765     2      7        S     11         4      624
 874      0         P/PP 3381     3      7        C     12         2        2
 875      0              2667     0      7        C      8         3      423
 876      0              7534     2      7        S     11         4      227
 877      0            349212     0      7        S     11         4      485
 878      0            349217     0      7        S     11         4      323
 879      1             11767     1      2        C     12         2      495
 880      1            230433     3      7        S     12         2      548
 881      0            349257     0      7        S     11         4      373
 882      0              7552     2      7        S      8         3      139
 883      0  C.A./SOTON 34068     2      7        S     11         4       37
 884      0   SOTON/OQ 392076     0      7        S     11         4      591
 885      5            382652     3      7        Q     12         2      505
 886      0            211536     2      7        S     14         0      406
 887      0            112053     3      1        S      8         3      221
 888      2        W./C. 6607     3      7        S      8         3      293
 889      0            111369     3      2        C     11         4       52
 890      0            370376     0      7        Q     11         4      159

      Family
 0         2
 1         1
 2         1
 3         2
 4         2
 5         3
 6         1
 7         4
 8         6
 9         2
 10        2
 11        1
 12        1
 13        9
 14        1
 15        1
 16        5
 17        4
 18        3
 19        1
 20        1
 21        1
 22        1
 23        1
 24        4
 25        4
 26        1
 27        4
 28        1
 29        1
 ..      ...
 861       1
 862       1
 863       7
 864       1
 865       1
 866       1
 867       1
 868       1
 869       6
 870       1
 871       2
 872       2
 873       1
 874       2
 875       1
 876       4
 877       2
 878       1
 879       1
 880       1
 881       1
 882       1
 883       1
 884       1
 885       5
 886       1
 887       3
 888       2
 889       1
 890       1

 [891 rows x 16 columns],
 {0: 'Abbing',
  1: 'Abbott',
  2: 'Abelson',
  3: 'Adahl',
  4: 'Adams',
  5: 'Ahlin',
  6: 'Aks',
  7: 'Albimona',
  8: 'Alexander',
  9: 'Alhomaki',
  10: 'Ali',
  11: 'Allen',
  12: 'Allison',
  13: 'Allum',
  14: 'Andersen-Jensen',
  15: 'Anderson',
  16: 'Andersson',
  17: 'Andreasson',
  18: 'Andrew',
  19: 'Andrews',
  20: 'Angle',
  21: 'Appleton',
  22: 'Arnold-Franchi',
  23: 'Artagaveytia',
  24: 'Asim',
  25: 'Asplund',
  26: 'Astor',
  27: 'Attalah',
  28: 'Aubart',
  29: 'Augustsson',
  30: 'Ayoub',
  31: 'Backstrom',
  32: 'Baclini',
  33: 'Badt',
  34: 'Bailey',
  35: 'Balkic',
  36: 'Ball',
  37: 'Banfield',
  38: 'Barah',
  39: 'Barbara',
  40: 'Barber',
  41: 'Barkworth',
  42: 'Barton',
  43: 'Bateman',
  44: 'Baumann',
  45: 'Baxter',
  46: 'Bazzani',
  47: 'Beane',
  48: 'Beavan',
  49: 'Becker',
  50: 'Beckwith',
  51: 'Beesley',
  52: 'Behr',
  53: 'Bengtsson',
  54: 'Berglund',
  55: 'Berriman',
  56: 'Betros',
  57: 'Bidois',
  58: 'Bing',
  59: 'Birkeland',
  60: 'Bishop',
  61: 'Bissette',
  62: 'Bjornstrom-Steffansson',
  63: 'Blackwell',
  64: 'Blank',
  65: 'Bonnell',
  66: 'Bostandyeff',
  67: 'Boulos',
  68: 'Bourke',
  69: 'Bowen',
  70: 'Bowerman',
  71: 'Bracken',
  72: 'Bradley',
  73: 'Braund',
  74: 'Brewe',
  75: 'Brocklebank',
  76: 'Brown',
  77: 'Bryhl',
  78: 'Burke',
  79: 'Burns',
  80: 'Buss',
  81: 'Butler',
  82: 'Butt',
  83: 'Byles',
  84: 'Bystrom',
  85: 'Cacic',
  86: 'Cairns',
  87: 'Calderhead',
  88: 'Caldwell',
  89: 'Calic',
  90: 'Cameron',
  91: 'Campbell',
  92: 'Canavan',
  93: 'Cann',
  94: 'Caram',
  95: 'Carbines',
  96: 'Cardeza',
  97: 'Carlsson',
  98: 'Carr',
  99: 'Carrau',
  100: 'Carter',
  101: 'Cavendish',
  102: 'Celotti',
  103: 'Chaffee',
  104: 'Chambers',
  105: 'Chapman',
  106: 'Charters',
  107: 'Cherry',
  108: 'Chibnall',
  109: 'Chip',
  110: 'Christmann',
  111: 'Christy',
  112: 'Chronopoulos',
  113: 'Clarke',
  114: 'Cleaver',
  115: 'Clifford',
  116: 'Coelho',
  117: 'Cohen',
  118: 'Coleff',
  119: 'Coleridge',
  120: 'Collander',
  121: 'Colley',
  122: 'Collyer',
  123: 'Compton',
  124: 'Connaghton',
  125: 'Connolly',
  126: 'Connors',
  127: 'Cook',
  128: 'Cor',
  129: 'Corn',
  130: 'Coutts',
  131: 'Coxon',
  132: 'Crease',
  133: 'Cribb',
  134: 'Crosby',
  135: 'Culumovic',
  136: 'Cumings',
  137: 'Cunningham',
  138: 'Dahl',
  139: 'Dahlberg',
  140: 'Dakic',
  141: 'Daly',
  142: 'Danbom',
  143: 'Daniel',
  144: 'Danoff',
  145: 'Dantcheff',
  146: 'Davidson',
  147: 'Davies',
  148: 'Davis',
  149: 'Davison',
  150: 'Dean',
  151: 'Denkoff',
  152: 'Dennis',
  153: 'Devaney',
  154: 'Dick',
  155: 'Dimic',
  156: 'Dodge',
  157: 'Doharr',
  158: 'Doling',
  159: 'Dooley',
  160: 'Dorking',
  161: 'Douglas',
  162: 'Dowdell',
  163: 'Downton',
  164: 'Drazenoic',
  165: 'Drew',
  166: 'Duane',
  167: 'Duff Gordon',
  168: 'Duran y More',
  169: 'Edvardsson',
  170: 'Eitemiller',
  171: 'Eklund',
  172: 'Ekstrom',
  173: 'Elias',
  174: 'Elsbury',
  175: 'Emanuel',
  176: 'Emir',
  177: 'Endres',
  178: 'Eustis',
  179: 'Fahlstrom',
  180: 'Farrell',
  181: 'Farthing',
  182: 'Faunthorpe',
  183: 'Fischer',
  184: 'Fleming',
  185: 'Flynn',
  186: 'Foo',
  187: 'Ford',
  188: 'Foreman',
  189: 'Fortune',
  190: 'Fox',
  191: 'Francatelli',
  192: 'Frauenthal',
  193: 'Frolicher',
  194: 'Frolicher-Stehli',
  195: 'Frost',
  196: 'Fry',
  197: 'Funk',
  198: 'Futrelle',
  199: 'Fynney',
  200: 'Gale',
  201: 'Gallagher',
  202: 'Garfirth',
  203: 'Garside',
  204: 'Gaskell',
  205: 'Gavey',
  206: 'Gee',
  207: 'Gheorgheff',
  208: 'Giglio',
  209: 'Giles',
  210: 'Gilinski',
  211: 'Gill',
  212: 'Gillespie',
  213: 'Gilnagh',
  214: 'Givard',
  215: 'Glynn',
  216: 'Goldenberg',
  217: 'Goldschmidt',
  218: 'Goldsmith',
  219: 'Goncalves',
  220: 'Goodwin',
  221: 'Graham',
  222: 'Green',
  223: 'Greenberg',
  224: 'Greenfield',
  225: 'Gronnestad',
  226: 'Guggenheim',
  227: 'Gustafsson',
  228: 'Haas',
  229: 'Hagland',
  230: 'Hakkarainen',
  231: 'Hale',
  232: 'Hamalainen',
  233: 'Hampe',
  234: 'Hanna',
  235: 'Hansen',
  236: 'Harder',
  237: 'Harknett',
  238: 'Harmer',
  239: 'Harper',
  240: 'Harrington',
  241: 'Harris',
  242: 'Harrison',
  243: 'Hart',
  244: 'Hassab',
  245: 'Hassan',
  246: 'Hawksford',
  247: 'Hays',
  248: 'Healy',
  249: 'Hedman',
  250: 'Hegarty',
  251: 'Heikkinen',
  252: 'Heininen',
  253: 'Hendekovic',
  254: 'Henry',
  255: 'Herman',
  256: 'Hewlett',
  257: 'Hickman',
  258: 'Hippach',
  259: 'Hirvonen',
  260: 'Hocking',
  261: 'Hodges',
  262: 'Hogeboom',
  263: 'Hold',
  264: 'Holm',
  265: 'Holverson',
  266: 'Homer',
  267: 'Honkanen',
  268: 'Hood',
  269: 'Horgan',
  270: 'Hosono',
  271: 'Hoyt',
  272: 'Humblen',
  273: 'Hunt',
  274: 'Ibrahim Shawah',
  275: 'Icard',
  276: 'Ilett',
  277: 'Ilmakangas',
  278: 'Isham',
  279: 'Ivanoff',
  280: 'Jacobsohn',
  281: 'Jalsevac',
  282: 'Jansson',
  283: 'Jardin',
  284: 'Jarvis',
  285: 'Jenkin',
  286: 'Jensen',
  287: 'Jermyn',
  288: 'Jerwan',
  289: 'Johannesen-Bratthammer',
  290: 'Johanson',
  291: 'Johansson',
  292: 'Johnson',
  293: 'Johnston',
  294: 'Jonkoff',
  295: 'Jonsson',
  296: 'Jussila',
  297: 'Kallio',
  298: 'Kalvik',
  299: 'Kantor',
  300: 'Karaic',
  301: 'Karlsson',
  302: 'Karun',
  303: 'Kassem',
  304: 'Keane',
  305: 'Keefe',
  306: 'Kelly',
  307: 'Kent',
  308: 'Kenyon',
  309: 'Kiernan',
  310: 'Kilgannon',
  311: 'Kimball',
  312: 'Kink',
  313: 'Kink-Heilmann',
  314: 'Kirkland',
  315: 'Klaber',
  316: 'Klasen',
  317: 'Knight',
  318: 'Kraeff',
  319: 'Kvillner',
  320: 'Lahoud',
  321: 'Lahtinen',
  322: 'Laitinen',
  323: 'Laleff',
  324: 'Lam',
  325: 'Landergren',
  326: 'Lang',
  327: 'Laroche',
  328: 'Larsson',
  329: 'LeRoy',
  330: 'Leader',
  331: 'Leeni',
  332: 'Lefebre',
  333: 'Lehmann',
  334: 'Leinonen',
  335: 'Leitch',
  336: 'Lemberopolous',
  337: 'Lemore',
  338: 'Lennon',
  339: 'Leonard',
  340: 'Lester',
  341: 'Lesurer',
  342: 'Levy',
  343: 'Lewy',
  344: 'Leyson',
  345: 'Lievens',
  346: 'Lindahl',
  347: 'Lindblom',
  348: 'Lindell',
  349: 'Lindqvist',
  350: 'Lines',
  351: 'Ling',
  352: 'Lobb',
  353: 'Long',
  354: 'Longley',
  355: 'Louch',
  356: 'Lovell',
  357: 'Lulic',
  358: 'Lundahl',
  359: 'Lurette',
  360: 'Mack',
  361: 'Madigan',
  362: 'Madill',
  363: 'Madsen',
  364: 'Maenpaa',
  365: 'Maioni',
  366: 'Maisner',
  367: 'Mallet',
  368: 'Mamee',
  369: 'Mangan',
  370: 'Mannion',
  371: 'Marechal',
  372: 'Markoff',
  373: 'Markun',
  374: 'Marvin',
  375: 'Masselmani',
  376: 'Matthews',
  377: 'Mayne',
  378: 'McCarthy',
  379: 'McCormack',
  380: 'McCoy',
  381: 'McDermott',
  382: 'McEvoy',
  383: 'McGough',
  384: 'McGovern',
  385: 'McGowan',
  386: 'McKane',
  387: 'McMahon',
  388: 'McNamee',
  389: 'Meanwell',
  390: 'Meek',
  391: 'Mellinger',
  392: 'Mellors',
  393: 'Meo',
  394: 'Mernagh',
  395: 'Meyer',
  396: 'Millet',
  397: 'Milling',
  398: 'Minahan',
  399: 'Mineff',
  400: 'Mionoff',
  401: 'Mitchell',
  402: 'Mitkoff',
  403: 'Mockler',
  404: 'Moen',
  405: 'Molson',
  406: 'Montvila',
  407: 'Moor',
  408: 'Moore',
  409: 'Moran',
  410: 'Moraweck',
  411: 'Morley',
  412: 'Morrow',
  413: 'Moss',
  414: 'Moubarek',
  415: 'Moussa',
  416: 'Moutal',
  417: 'Mudd',
  418: 'Mullens',
  419: 'Murdlin',
  420: 'Murphy',
  421: 'Myhrman',
  422: 'Naidenoff',
  423: 'Najib',
  424: 'Nakid',
  425: 'Nankoff',
  426: 'Nasser',
  427: 'Natsch',
  428: 'Navratil',
  429: 'Nenkoff',
  430: 'Newell',

In [8]:
# Do a quick subset of features
quick_features = ['Sex','Age','Pclass','SibSp','Cabin','TitleKey','Fare','Embarked']
X = sample.drop(columns = ['Survived'])
y = sample.Survived

In [32]:
# Define subfeatures
features_1 = ['Sex','Age','Pclass']
features_2 = ['Sex','Age','Pclass','SibSp','Parch']
features_3 = ['Sex','Age','Pclass','Family']
features_4 = ['Sex','Age','Pclass','SibSp','Parch','Fare']
features_5 = ['Sex','Age','Pclass','SibSp','Parch','Fare','Title']

features = [features_1, features_2, features_3, features_4, features_5]

In [33]:
# Break off validation set from training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state=0)

print(len(X_train))

712

In [34]:
# import the class
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# Create base model
model = LogisticRegression(solver='lbfgs',C = 1,max_iter=300)

for i in range(0, len(features)):
    model.fit(X_train[features[i]], y_train)
    y_pred = model.predict(X_test[features[i]])
    
    # get stats
    accuracy = metrics.accuracy_score(y_test,y_pred)
    cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
    print("Model ",i+1,"accuracy: ", accuracy.round(2), " CNF: \n", cnf_matrix)

Model  1 accuracy:  0.84  CNF:
 [[97 13]
 [16 53]]
Model  2 accuracy:  0.81  CNF:
 [[96 14]
 [20 49]]
Model  3 accuracy:  0.83  CNF:
 [[97 13]
 [18 51]]
Model  4 accuracy:  0.81  CNF:
 [[95 15]
 [19 50]]
Model  5 accuracy:  0.82  CNF:
 [[96 14]
 [19 50]]

In [29]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred).round(2))
print("Precision:",metrics.precision_score(y_test, y_pred).round(2))
print("Recall:",metrics.recall_score(y_test, y_pred).round(2))

Accuracy: 0.79
Precision: 0.72
Recall: 0.72

In [ ]:
differences = y_pred-y_test
FN = differences[differences == -1].index
sample.iloc[FN,:]

In [ ]:
FP = differences[differences == 1].index
sample.iloc[FP,:]

In [ ]:
# Check out the ROC curve
y_pred_proba = logreg.predict_proba(X_test)[::,1]
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.legend(loc=4)
plt.show()

In [ ]:
# Ok, how do we improve?

In [ ]:
# Do this for the test set
dc.transform_features(data)
dc.encode_features(data)
X = data[quick_features]
predictions =logreg.predict(X)

# Save into output file
ids = data['PassengerId']

output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output.to_csv('titanic-predictions_logistic.csv', index = False)
output.head()